body{
    text-align: center;
    justify-content: space-around;
   background-color: blanchedalmond;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   
}
p{
    width: 540px;
    font-size: 20px;
    
    margin: 10px auto;
    border: 1px solid black;
}
tbody{
border: 1px solid black;
    
}
img{
    width: 540px;
}
.botones{
    width: 540px;
    margin: 10px auto;
     
}
a{
    color: aqua;
}
.si:hover{

background-color: aqua;
}
.no:hover{
    background-color: brown;
}

